<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
        <!-- font-awesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        /* Import Google Fonts */
        body {
            font-family: 'Baloo Da 2', sans-serif;
            /* Added font-family */
        }

        .nav-bg {
            background-color: #4D5395;
            height: 100px;
        }

        @media print {
            body {
                margin: 0;
            }
        }

        body {
            font-family: Arial, sans-serif;
        }

        #print-area {}

        @media print {
            body * {
                visibility: visible !important;
            }

            #print-area {
                width: 2480px;
                height: 3508px;
            }

            button {
                display: none;
            }
        }

        body {
            font-family: 'Baloo Da 2', sans-serif;
            /* Added font-family */
        }

        .content {
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-family: 'Baloo Da 2', sans-serif;
            /* Added font-family */
        }

        th,
        td {
            border-bottom: 1px solid #ddd;
        }

        thead,
        tr {
            width: 1233px;
            height: 71px;
        }

        .form-item {}

        .form-item .title {
            background: #EBEBEB;
            height: 45px;
            padding-left: 10px;
            padding-right: 10px;
            padding: 6px;
            margin-right: 15px;
            font-size: 18px;
        }

        .parents-details-header {
            font-size: 18px;
            padding: 6px;

        }

        header {
            color: #4D5395;
        }

        @media screen and (max-width: 420px) {
              h2{
                font-size: 22px;
            }
            small{
                font-size: 10px;
            }
        }


    </style>
</head>

<body>
    <nav class="navbar nav-bg">
        <div class="container-md">
            <a class="navbar-brand d-flex align-items-center text-center" href="../index.html">
                <img src="../assets/Img/bd-gov-log0.png" alt="" width="65px" height="65px"
                    class="d-inline-block align-text-top p-1">
                <div class="text-start text-white">
                    <h2 class="p-0 m-0">ওয়েজ আর্নার্স কল্যান বোর্ড</h2>
                    <small class="text-start m-auto d-flex">প্রবাসী কল্যান ও বৈদেশিক কর্মসংস্থান মন্ত্রনালয়</small>
                </div>
            </a>
        </div>
    </nav>
    
    

    <form class="page-items my-5 overflow-x-auto" id="print-area">
        <div class="container-md content">
            <header class="flex-grow-1 d-flex justify-content-center align-items-center pt-3">
                <div class="row justify-content-center">
                    <div class="col-3">
                    </div>
                    <div class="w-50  text-center"><img src="../assets/Img/bd-gov-log0.png" width="64" height="64" alt="">
                        <div class="text-container-md">
                            <h4>গণপ্রজাতন্ত্রী বাংলাদেশ সরকার <br>
                                ওয়েজ আর্নার্স কল্যান বোর্ড</h4>
                            <h5>
                                প্রবাসী কল্যান ও বৈদেশিক কর্মসংস্থান মন্ত্রনালয়
                            </h5>
                            <h6>৭১-৭২ প্রবাসী কল্যান ভবইন, ইস্কাটয়ন গার্ডেন, রমনা, ঢাকা।</h6>
                            <p><a href="http://www.wewb.gov.bd">(www.wewb.gov.bd)</a></p>
                        </div>
                    </div>

                    <div class="col-3 mt-5 pt-5">
                        <img id="photo1" class="img-fluid align-item-end" src="../assets/Img/candidate-img.png" alt="candidate-photo" width="150"
                            height="150">
                    </div>
                    <h5 class="text-center py-4">
                        প্রবাসী কর্মীর প্রতিবন্ধী সন্তানদের “প্রতিবন্ধী ভাতা” আবেদন ফরম
                    </h5>
                </div>
            </header>



            <div class="container-md row">
                <div class="form-item w-100 border">
                    <span class="title">Application ID</span><span class="value" id="applicationId"></span>
                </div>

                <div class="form-item w-50 border"><span class="title">সুবর্ণ পরিচয় পত্র/কার্ড নম্বর</span><span
                        class="value" id="nationalId"></span></div>

                <div class="form-item w-50 border"><span class="title">প্রতিবন্দীতার ধরন</span><span class="value"
                        id="disabilityType"></span></div>
                <div class="form-item w-100 title bg border mt-4">
                    <span class="title ml-0">প্রার্থীর নাম (বাংলায়)</span><span class="value" id="nameBengali"></span>
                </div>
                <div class="form-item w-100 border">
                    <span class="title">প্রার্থীর নাম (ইংরেজি)</span><span class="value" id="nameEnglish"></span>
                </div>
                <div class="form-item w-50 border">
                    <span class="title">জন্ম তারিখ</span><span class="value" id="dateOfBirth"></span>
                </div>
                <div class="form-item w-50 border">
                    <span class="title">বয়স</span><span class="value" id="age"></span>
                </div>
                <div class="form-item w-100 border">
                    <span class="title">পিতার নাম (বাংলায়)</span><span class="value" id="fatherNameBengali"></span>
                </div>
                <div class="form-item w-100 border">
                    <span class="title">মাতার নাম</span><span class="value" id="motherNameBengali"></span>
                </div>
                <div class="form-item w-50 border">
                    <span class="title">অভভাবকের নাম</span><span class="value" id="guardianName"></span>
                </div>
                <div class="form-item w-50 border">
                    <span class="title">সম্পর্ক</span><span class="value" id="guardianRelationship"></span>
                </div>
                <div class="form-item w-100 border">
                    <span class="title">পিতা/মাতা/আভিভাবকের মোবাইল নম্বর</span><span class="value"
                        id="guardianMobile"></span>
                </div>
                <div class="form-item w-100 border">
                    <span class="title">বর্তমান ঠিকানা</span><span class="value" id="currentAddress"></span>
                </div>
                <div class="form-item w-100 border">
                    <span class="title">স্থায়ী ঠিকানা</span><span class="value" id="permanentAddress"></span>
                </div>
                <!-- Parents' details -->
                <div class="w-100 border mt-4 parents-details-header">
                    <span class="title w-100">প্রবাসী পিতা/মাতা অভিভাবকের তথ্য</span>
                </div>
                <div class="border w-100 text-center">
                    <table class="w-100">
                        <thead class="" style="background-color: #EBEBEB">
                            <tr>
                                <th>ক্রম</th>
                                <th>পিতা/মাতার নাম</th>
                                <th>পাসপোর্ট নম্বর</th>
                                <th>বহির্গমন ছাড়পত্র/ মেম্বারশীপ নম্বর /<br>দুতাবাস সনদের (NOC) স্মারক নং</th>
                                <th>কর্মরত দেশের নাম</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td id="prabasi-parents-name-english"></td>
                                <td id="passportNumber"></td>
                                <td id="noc-mark-number"></td>
                                <td id="working-country"></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td id="parent2Name"></td>
                                <td id="parent2Passport"></td>
                                <td id="parent2NOC"></td>
                                <td id="parent2Country"></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td id="parent3Name"></td>
                                <td id="parent3Passport"></td>
                                <td id="parent3NOC"></td>
                                <td id="parent3Country"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Guardian signature -->
                <div class=" mt-4 w-100  ">
                    <div
                        class="container-md border guardian-signature form-item guardian-signature d-flex flex-column justify-content-center align-items-start">
                        <div class="text-center">
                            <img class="text-center" id="parents-signature" src="../assets/Img/parents-signature.png" alt="" width="148" height="58">
                            <p class="w-75 m-auto">পিতা/মাতা/ অভিভাবকের নাম ও স্বাক্ষর</p>
                        </div>
                    </div>
                    <div class="develoment-brand justify-content-center text-right">
                        <small>Design & Development by</small>
                        <img src="../assets/Img/pridesys-black-logo.png" alt="" width="83px" height="23px">
                    </div>
                </div>
            </div>
            <div class="text-center my-5">
                <button type="button" id="dawonload-btn" onclick="downloadPDF()">ডাউনলোড</button>
                <button type="button" id="print-btn" onclick="printForm()">প্রিন্ট</button>
            </div>
        </div>
    </form>

    <style>
        .guardian-signature {
            min-height: 200px;
        }

        #dawonload-btn {
            padding: 16px 24px 16px 24px;
            border-radius: 6px;
            background-color: #4D5395;
            color: white;
        }

        #print-btn {
            padding: 16px 24px 16px 24px;
            border-radius: 6px;
            background-color: #414141;
            color: white;
        }
    </style>

    <footer class="container-md navbar">
        <div class="w-100 d-flex justify-content-between">
            <ul class="d-flex flex-column p-0  list-unstyled" style="color: black;">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">বিজ্ঞপ্তি</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">বিধিমালা</a>
                </li>
            </ul>

            <ul class="d-flex flex-column p-0  list-unstyled" style="color: black;">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">হেল্প ডেস্ক</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">ব্যবহারিক সহায়তা</a>
                </li>
            </ul>

            <ul class="d-flex flex-column list-unstyled p-0" style="color: black;">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">সামাজিক যোগাযোগ</a>
                </li>
                <li class="nav-item px-3">
                    <a class="" href="#"> <i class="fa-brands fa-facebook fs-3" style="color: #316FF6;"></i>
                    </a>
                    <a class="" href=""> <i class="fa-brands fa-twitter fs-3" style="color: #1DA1F2;"></i> </a>
                    <a class="" href=""><i class="fa-brands fa-youtube fs-3" style="color: #bb2c2c;"></i></a>
                </li>
            </ul>
        </div>

        <div class="d-flex m-auto w-100 justify-content-between align-items-center pt-3 pb-3 border-top">
            <small>কপিরাইট © ২০২৪ সর্বস্বত্ব সংরক্ষিত গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</small>
            <div class="d-sm-flex align-items-center" style="color: black;">
                <small class="px-2">কারিগরি সহযোগিতায় </small></p><a href=""><img
                        src="../assets/Img/pridesys-black-logo.png" width="138" height="33" alt=""></a>
            </div>

        </div>
    </footer>


    <script>
        function printForm() {
            var printContents = document.getElementById("print-area").innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

        function downloadPDF() {
            const element = document.getElementById('print-area');
            html2pdf()
                .from(element)
                .save('form.pdf');
        }
    </script>
    <script>
        var formDataJSON = localStorage.getItem("formData");

        var formData = JSON.parse(formDataJSON);

        document.getElementById("applicationId").innerText = formData.applicationId;
        document.getElementById("nationalId").innerText = formData.number;
        document.getElementById("disabilityType").innerText = formData.disabilityType;
        document.getElementById("nameBengali").innerText = formData.nameBengali;
        document.getElementById("nameEnglish").innerText = formData.nameEnglish;
        document.getElementById("dateOfBirth").innerText = formData.dateOfBirth;
        document.getElementById("age").innerText = formData.age;
        document.getElementById("fatherNameBengali").innerText = formData.fatherNameBengali;
        document.getElementById("fatherNameEnglish").innerText = formData.fatherNameEnglish;
        document.getElementById("motherNameBengali").innerText = formData.motherNameBengali;
        document.getElementById("motherNameEnglish").innerText = formData.motherNameEnglish;
        document.getElementById("prabasi-parents-name-english").innerText = formData.prabasi - parents - name - english;
        document.getElementById("noc-mark-number").innerText = formData.noc - mark - number;
        document.getElementById("working-country").innerText = formData.working - country;
        document.getElementById("passportNumber").innerText = formData.passportNumber;
        document.getElementById("guardianRelationship").innerText = formData.guardianRelationship;
        document.getElementById("guardianMobile1").innerText = formData.guardianMobile1;
        document.getElementById("guardianMobile2").innerText = formData.guardianMobile2;
        document.getElementById("currentAddressStreet").innerText = formData.currentAddressStreet;
        document.getElementById("currentAddressDistrict").innerText = formData.currentAddressDistrict;
        document.getElementById("currentAddressSubdistrict").innerText = formData.currentAddressSubdistrict;
        document.getElementById("currentAddressPostOffice").innerText = formData.currentAddressPostOffice;
        document.getElementById("currentAddressPostcode").innerText = formData.currentAddressPostcode;
        document.getElementById("permanentAddressStreet").innerText = formData.permanentAddressStreet;
        document.getElementById("permanentAddressDistrict").innerText = formData.permanentAddressDistrict;
        document.getElementById("permanentAddressSubdistrict").innerText = formData.permanentAddressSubdistrict;
        document.getElementById("permanentAddressPostOffice").innerText = formData.permanentAddressPostOffice;
        document.getElementById("permanentAddressPostcode").innerText = formData.permanentAddressPostcode;
        document.getElementById("accountHolderName").innerText = formData.accountHolderName;
        document.getElementById("accountNumber").innerText = formData.accountNumber;
        document.getElementById("routingNumber").innerText = formData.routingNumber;

        const queryParams = new URLSearchParams(window.location.search);
        const attachments = Object.fromEntries(queryParams.entries());

        for (const key in attachments) {
            if (attachments.hasOwnProperty(key)) {
                const imageId = key;
                const imageUrl = attachments[key];

                switch (imageId) {
                    case 'parents-signature':
                        document.getElementById('parents-signature').src = imageUrl;
                        break;
                    case 'photo1':
                        document.getElementById('photo1').src = imageUrl;
                        break;
                    default:
                        break;
                }
            }
        }
    </script>


</body>

</html>