<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wage Earners Welfare Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .nav-bg {
            background-color: #4D5395;
            height: 100px;
        }

        .btn2 {
            background-color: #4D5395;
            color: white;
            font-size: 20px;
            padding: 16px 24px;
            border-radius: 6px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .container-md-main {
            gap: 0;
            height: 424px;
            color: white;
            display: flex;
        }

        .main-img {
            width: 660px;
            height: 424px;

        }

        .text-container-md {
            text-align: start;
            background-color: #29A74A;
        }

        .text-container-md p {
            padding-top: 10px;
        }

        footer {
            height: 148px;
        }

        /* Add your CSS styles here */
        .step {
            display: none;
        }

        .step.active {
            display: block;
        }

        .nav-bottom {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f2f2f2;
            border-top: 1px solid #ccc;
            padding: 10px 0;
        }

        .nav-bottom ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .nav-bottom ul li {
            display: inline;
            margin: 0 10px;
        }

        .nav-bottom ul li a {
            text-decoration: none;
            color: #333;
        }

        .nav-bottom ul li.active a {
            font-weight: bold;
        }

        .nav-2-bg {
            background-color: #4D5395;
            color: white;
            height: 75px;
        }

        .nav-2-bg ul li a {
            color: white;
        }

        .bb {
            border-top: 1px solid #D9D9D9;
        }

        .file {
            width: 620px;
            height: 45px;
            top: 2850px;
            left: 320px;
            padding: 9;
            gap: 19px;
            border-radius: 5;
            border: 1;
            opacity: 0.5;
        }

        @media screen and (max-width: 768px) {
            .main-img {
                width: 100%;
                height: 100%;
            }

            .logo-text {
                width: 70%;
            }



        }
    </style>
</head>

<body class="min-vh-100 d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-dark nav-bg">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center text-center" href="#">
                <img src="/assets/Img/bd logo.png" alt="" width="65px" height="65px"
                    class="d-inline-block align-text-top p-1">
                <img class="img-fluid logo-text" src="/assets/Img/ওয়েজ আর্নার্স কল্যান বোর্ড text.png" alt=""></a>
        </div>
    </nav>

    <main class="flex-grow-1 d-flex justify-content-center align-items-center pt-3">
        <div class="container-md">
            <div class="m-auto text-center">
                <img src="/assets/Img/bd logo.png" width="64" height="64" alt="">
                <div class="text-containe">
                    <h4>গণপ্রজাতন্ত্রী বাংলাদেশ সরকার <br>
                        ওয়েজ আর্নার্স কল্যান বোর্ড</h4>
                    <h5>
                        প্রবাসী কল্যান ও বৈদেশিক কর্মসংস্থান মন্ত্রনালয়

                    </h5>
                    <h6>৭১-৭২ প্রবাসী কল্যান ভবইন, ইস্কাটয়ন গার্ডেন, রমনা, ঢাকা।</h6>
                    <p><a href="http://www.wewb.gov.bd">(www.wewb.gov.bd)</a></p>
                </div>
            </div>
            <h5 class="text-center pt-5">
                প্রবাসী কর্মীর প্রতিবন্ধী সন্তানদের “প্রতিবন্ধী ভাতা” আবেদন ফরম
            </h5>
            <nav class="navbar bg-body-tertiary">
                <div class="container-md nav-2-bg">
                    <ul class="nav nav-tabs list-unstyled d-flex justify-content-between border-bottom-0">
                        <li class="nav-item"><a class="nav-link active" href="#step1" data-step="1">যাচাই
                                করণ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#step2" data-step="2">প্রার্থীর তথ্য</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#step3" data-step="3">আবেদন পত্র
                                পর্যালোচনা</a></li>
                    </ul>
                </div>
            </nav>
            <form id="multi-step-form">
                <!-- Step 1 -->
                <div class="step active tab-pane show" id="step1">
                    <div class="step d-flex flex-column align-items-center active tab-pane show" id="step1">
                        <div class="d-flex w-100 flex-column align-items-center gap-3">
                            <!-- Title -->
                            <div class="border p-2 rounded w-100" style="background-color: #FCFFF2;">
                                <p class="py-2">* প্রার্থীর ব্যক্তিগত তথ্য</p>
                                <div class="row">
                                    <!-- Name in Bengali -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="name-bengali">নাম (বাংলায়)</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="name-bengali" name="name-bengali" required>
                                    </div>
                                    <!-- Name in English -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="name-english">নাম (English)</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="name-english" name="name-english" required>
                                    </div>
                                    <!-- Date of Birth -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="date-of-birth">জন্মতারিখ</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="date" id="date-of-birth" name="date-of-birth" required>
                                    </div>
                                    <!-- Age -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="age">বয়স</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="age" name="age" required>
                                    </div>
                                    <!-- Father's Name in Bengali -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="father-name-bengali">পিতার নাম (বাংলায়)</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="father-name-bengali" name="father-name-bengali" required>
                                    </div>
                                    <!-- Father's Name in English -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="father-name-english">পিতার নাম (English)</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="father-name-english" name="father-name-english" required>
                                    </div>
                                    <!-- Mother's Name in Bengali -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="mother-name-bengali">মাতার নাম (বাংলায়)</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="mother-name-bengali" name="mother-name-bengali" required>
                                    </div>
                                    <!-- Mother's Name in English -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="mother-name-english">মাতার নাম (English)</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="mother-name-english" name="mother-name-english" required>
                                    </div>
                                    <!-- Guardian's Name -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="guardian-name">অভিভাবকের নাম</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="guardian-name" name="guardian-name" required>
                                    </div>
                                    <!-- Relationship with Guardian -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="guardian-relationship">সম্পর্ক</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="guardian-relationship" name="guardian-relationship"
                                            required>
                                    </div>
                                    <!-- Guardian's Mobile Number 1 -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="guardian-mobile-1">অভিভাবকের মোবাইল নাম্বার
                                            ১</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="guardian-mobile-1" name="guardian-mobile-1" required>
                                    </div>
                                    <!-- Guardian's Mobile Number 2 -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="guardian-mobile-2">অভিভাবকের মোবাইল নাম্বার
                                            ২</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="guardian-mobile-2" name="guardian-mobile-2" required>
                                    </div>
                                    <!-- National ID Card/Passport Number -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="national-id-passport">সুবর্ণ নাগরিক পরিচয় পত্র/কার্ড
                                            নম্বর</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="national-id-passport" name="national-id-passport" required>
                                    </div>
                                    <!-- Type of Disability -->
                                    <div class="col-md-6">
                                        <label class="py-2" for="disability-type">প্রতিবন্ধীর ধরণ</label><br>
                                        <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                            type="text" id="disability-type" name="disability-type" required>
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid w-100 py-2">
                                <!-- Bootstrap grid row with gap -->
                                <div class="row ">
                                    <!-- Column 1 -->
                                    <div class="col-md-6 bg border rounded p-2" style="background-color: #FCFFF2;">
                                        <p>* বর্তমান ঠিকানা (বাংলায়)</p>
                                        <!-- Form fields for current address -->
                                        <div>
                                            <label class="py-2"
                                                for="current-address-street">গ্রাম/শহর/রাস্তা/</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="current-address-street" name="current-address-street"
                                                required>
                                        </div>
                                        <div>
                                            <label class="py-2" for="current-address-district">জেলা</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="current-address-district"
                                                name="current-address-district" required>
                                        </div>
                                        <div>
                                            <label class="py-2"
                                                for="current-address-subdistrict">উপজেলা/থানা</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="current-address-subdistrict"
                                                name="current-address-subdistrict" required>
                                        </div>
                                        <div>
                                            <label class="py-2" for="current-address-postoffice">ডাক ঘর</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="current-address-postoffice"
                                                name="current-address-postoffice" required>
                                        </div>
                                        <div>
                                            <label class="py-2" for="current-address-postcode">পোস্ট কোড</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="current-address-postcode"
                                                name="current-address-postcode" required>
                                        </div>
                                    </div>
                                    <!-- Column 2 -->
                                    <div class="col-md-6 bg border rounded py-3" style="background-color: #FCFFF2;">
                                        <p>* স্থায়ী ঠিকানা (বাংলায়)</p>
                                        <!-- Form fields for permanent address -->
                                        <div>
                                            <label class="py-2"
                                                for="permanent-address-street">গ্রাম/শহর/রাস্তা/</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="permanent-address-street"
                                                name="permanent-address-street" required>
                                        </div>
                                        <div>
                                            <label class="py-2" for="permanent-address-district">জেলা</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="permanent-address-district"
                                                name="permanent-address-district" required>
                                        </div>
                                        <div>
                                            <label class="py-2"
                                                for="permanent-address-subdistrict">উপজেলা/থানা</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="permanent-address-subdistrict"
                                                name="permanent-address-subdistrict" required>
                                        </div>
                                        <div>
                                            <label class="py-2" for="permanent-address-postoffice">ডাক ঘর</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="permanent-address-postoffice"
                                                name="permanent-address-postoffice" required>
                                        </div>
                                        <div>
                                            <label class="py-2" for="permanent-address-postcode">পোস্ট কোড</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="permanent-address-postcode"
                                                name="permanent-address-postcode" required>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="w-100">
                                <!-- Container for the form -->
                                <div class="border rounded p-2" style="background-color: #FCFFF2;">
                                    <!-- Form content -->
                                    <p>* যার নামে (পিতা/মাতা/অভিভাবক) চেক পেতে ইচ্চুক</p>
                                    <!-- Bootstrap grid row -->
                                    <div class="row">
                                        <!-- Column 1 -->
                                        <div class="col-md-4">
                                            <label class="py-2" for="account-holder-name">অ্যাকাউন্ট হোল্ডারের নাম</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="account-holder-name" name="account-holder-name"
                                                required>
                                        </div>
                                        <!-- Column 2 -->
                                        <div class="col-md-4">
                                            <label class="py-2" for="account-number">অ্যাকাউন্ট নাম্বার</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="account-number" name="account-number" required>
                                        </div>
                                        <!-- Column 3 -->
                                        <div class="col-md-4">
                                            <label class="py-2" for="routing-number">রাউটিং নাম্বার</label><br>
                                            <input class="w-100 form-control form-control-lg" style="height: 45px;"
                                                type="text" id="routing-number" name="routing-number" required>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="w-100">
                                <div class="border rounded p-2" style="background-color: #FCFFF2;">
                                    <p>* সংযুক্তি</p>
                                    <!-- Container to hold uploaded items -->
                                    <!-- Bootstrap grid row -->
                                    <div class="row">
                                        <!-- Upload fields -->
                                        <div class="col-md-6">
                                            <label for="photo1" class="py-2">*প্রার্থীর ছবি</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo1" name="photo" required>
                                            <small id="file1" class="text-danger file1" role="alert">Note:
                                                Image size should be 300x300 and file size should be 100 KB</small>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="photo2" class="py-2">*প্রবাসীর পাসপোর্ট</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo2" name="photo" required>
                                            <small id="file2" class="text-danger file2" role="alert">বিঃ দ্রঃ ফাইল সাইজ
                                                ১ এমবি</small>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="photo3" class="py-2">*বিএমইটি ছাড়পত্র</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo3" name="photo" required>
                                            <small id="file3" class="text-danger file3" role="alert"></small>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="photo4" class="py-2">*দূতাবাস কর্তৃক ইস্যুকৃত এনওসি</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo4" name="photo" required>
                                            <small id="file4" class="text-danger file4" role="alert">Note: Only .pdf
                                                file and maximum file size 10mp allow.</small>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="photo5" class="py-2">*ওয়েজ আর্নার্স কল্যান বোর্ডের মেম্বারশীপ
                                                সনদ</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo5" name="photo" required>
                                            <small id="file5" class="text-danger file5" role="alert"></small>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="photo6" class="py-2">*প্রাথীর সুবর্ণ আইডি</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo6" name="photo" required>
                                            <small id="file6" class="text-danger file6" role="alert"></small>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="photo7" class="py-2">সরকারী বেসরকারী প্রতিবন্ধী ভাতা পাচ্ছে কিনা
                                                তার প্রমান পত্র ( যদি থাকে)</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo7" name="photo" required>
                                            <small id="file7" class="text-danger file7" role="alert"></small>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="photo8" class="py-2">নাগরিক সনদ পত্র</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo8" name="photo" required>
                                            <small id="file8" class="text-danger file8" role="alert"></small>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="photo9" class="py-2">*পিতা/ মাতা/ অভিভাবকের স্বাক্ষর</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo9" name="photo" required>
                                            <small id="file9" class="text-danger file9" role="alert"></small>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="photo10" class="py-2">*ইসুকারীর Bank Statement (যার নামে চেক
                                                পেতে ইচ্ছুক)</label><br>
                                            <input class="w-100 form-control form-control-lg file" style="height: 45px;"
                                                type="file" id="photo10" name="photo" required>
                                            <small id="file10" class="text-danger file10" role="alert">বিঃ দ্রঃ ছবি সাইজ
                                                ৩০০X৮০ এবং ফাইল সাইজ ১০০ K.B</small>
                                        </div>
                                        <!-- Add more upload fields as needed -->

                                    </div>
                                </div>

                                <script>
                                    // Function to add uploaded item with delete button
                                    function addUploadedItem(fileName, index) {
                                        console.log(`Adding uploaded item: ${fileName}, index: ${index}`);
                                        var itemDiv = document.createElement('div');
                                        itemDiv.className = 'row py-2';
                                        itemDiv.innerHTML = `
                                        <div class="d-flex border w-75 mx-3" id="uploaded-item-${index}">
                                            <span class="text-danger">${fileName}</span>
                                            <span class="px-3"><button class="delete-button" onclick="deleteItem(this, ${index})">x</button></span>
                                       </div> `;
                                        var previousItem = document.getElementById(`uploaded-item-${index}`);
                                        if (previousItem) {
                                            console.log(`Previous item found: ${previousItem}`);
                                            previousItem.replaceWith(itemDiv);
                                        } else {
                                            console.log(`Previous item not found, inserting at: file${index}`);
                                            document.getElementById(`file${index}`).replaceWith(itemDiv);
                                        }
                                    }

                                    // Function to get the ID of the small tag based on the index
                                    function getSmallTagId(index) {
                                        return `file${index}`;
                                    }

                                    // Function to delete uploaded item
                                    function deleteItem(button, index) {
                                        console.log(`Deleting item at index: ${index}`);
                                        button.parentNode.parentNode.remove();
                                        var input = document.getElementById(`photo${index}`);
                                        input.removeEventListener('change', handleFileChange);
                                        var smallTag = document.createElement('small');
                                        smallTag.id = getSmallTagId(index);
                                        smallTag.className = getSmallTagId(index);
                                        smallTag.setAttribute('role', 'alert');
                                        smallTag.innerText =
                                            "Note: Image size should be 300x300 and file size should be 100 KB";
                                        document.getElementById(getSmallTagId(index)).appendChild(smallTag);
                                        input.value = ""; // Clear file input
                                        input.addEventListener('change', handleFileChange);
                                    }

                                    // Function to handle file change
                                    function handleFileChange() {
                                        var index = parseInt(this.id.replace('photo', ''));
                                        if (this.files && this.files[0]) {
                                            addUploadedItem(this.files[0].name, index);
                                        }
                                    }

                                    // Listen for change event on file input
                                    document.querySelectorAll('.file').forEach(function (input) {
                                        input.addEventListener('change', handleFileChange);
                                    });
                                </script>


                                <style>
                                    /* Style for delete button */
                                    .delete-button {
                                        background-color: transparent;
                                        border: none;
                                        color: rgb(85, 84, 83);
                                    }
                                </style>
                            </div>
                            <!-- Submit Button -->
                        </div>
                        <div>
                            <button type="submit" class="btn2">Verify</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer class="navbar navbar-expand-lg nav-bg d-flex flex-column bg-white">
        <div class="container d-flex pb-3">
            <ul class="d-flex flex-column mb-2 mb-lg-0" style="color: black;">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">বিজ্ঞপ্তি</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">বিধিমালা</a>
                </li>
            </ul>

            <ul class="d-flex flex-column mb-2 mb-lg-0" style="color: black;">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">হেল্প ডেস্ক</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">ব্যবহারিক সহায়তা</a>
                </li>
            </ul>

            <ul class="d-flex flex-column mb-2 mb-lg-0 list-unstyled" style="color: black;">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">সামাজিক যোগাযোগ</a>
                </li>
                <li class="nav-item px-3">
                    <a class="" href="#"> <i class="fa-brands fa-facebook fs-3" style="color: #316FF6;"></i> </a>
                    <a class="" href=""> <i class="fa-brands fa-twitter fs-3" style="color: #1DA1F2;"></i> </a>
                    <a class="" href=""><i class="fa-brands fa-youtube fs-3" style="color: #bb2c2c;"></i></a>
                </li>
            </ul>
        </div>



        <div class="container  m-auto justify-content-between align-items-center bb pt-3">
            <p>কপিরাইট © ২০২৪ সর্বস্বত্ব সংরক্ষিত গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</p>
            <div class="d-flex flex-column text-start" style="color: black;">
                <p>কারিগরি সহযোগিতায়</p>
                <a href=""><img src="/assets/Img/pridesys black logo.png" alt=""></a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>